<!-- HEADER -->

<header>
  <div class="container head-content">
      {{ page.nav_main }}
    <div class="navigation">
      <div id="menu-icon"></div>
      <nav>
        <ul>
          <li style="display: none"><a href="/#home" id="header-home" class="active"></a></li>
          <li><a href="/#about" id="header-about">About</a></li>
          <li><a href="/#services" id="header-services"> Services</a></li>
          <li><a href="/#contact" id="header-contact">Contact</a></li>
        </ul>
        <div class="m-socket-body">
          <div class="socket"><a href="/#contact">Contact us</a></div>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- HEADER -->
